.sheet-music {
    background-color: #fff;
}

.sheetmusic-element-parent {
    background-color: white !important;
    width: auto !important;
    min-width: 400px !important;
    max-width: 770px!important;
}

#conatiner {
    display: grid !important;
}

#abcnotation-textarea {
    min-height: 150px;
    width: auto !important;
    min-width: 350px !important;
    max-width: 770px!important;
    resize: vertical !important;
}